<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
                            <!-- Dark Logo icon -->
      <img src="assets/logo-icon.png" alt="homepage" class="dark-logo" />
      <img src="assets/logo-text.png" alt="homepage" class="dark-logo" />
                         <!-- Light Logo text -->    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Detalle de reporte</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
  <ion-item>
    <ion-label>Seleccione </ion-label>
    <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" [(ngModel)]="idUsuario" placeholder="Usuario" (ionChange)="buscarUsuario()" >
      <ion-select-option *ngFor="let user of usuarios;" (click)="buscarUsuario()" value="{{user.USUARIO}}">{{user.USUARIO}} | {{user.APELLIDO}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label class="textolabel" position="floating">Torre Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="torre" name="torre"></ion-input>
    <ion-input type="hidden" [(ngModel)]="IDtorre" name="IDtorre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="textolabel" position="floating">Unidad Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="unidad" name="unidad"></ion-input>
  </ion-item>

<ion-item>
  <ion-label position="floating">Descripción</ion-label>
  <ion-textarea [(ngModel)]="descripcion" name="descripcion"></ion-textarea>
</ion-item>
<br/>
<ion-button color="light" expand="full" (click)="scan()">Scanrer Code <ion-icon name="barcode"></ion-icon></ion-button>

<ion-item>
  <ion-input [(ngModel)]="resultadoSacan" name="resultadoSacan"></ion-input>
</ion-item>
  </ion-card-content>
</ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="enviarReporteAdd()">
    <ion-fab-button color="primary">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
